@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'WaterLily';
  src: url('/fonts/WaterLily Script.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Kollektif';
  src: url('/fonts/Kollektif.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Sans';
  src: url('/fonts/Sans.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'futura';
  src: url('/fonts/futura light bt.ttf');
  font-weight: 400;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
